$purple-200: #6247b2;
$purple-300: #6f4fd4;
$purple-400: #8c66ff;

$blue-400: #3aadbd;

$red-300: #ea868f;

$green-400: #479f76;

$white-400: #f4f2f2;

$gray-100: #f9f9f9;
$gray-200: #e0daf3;
$gray-400: #dcdcdc;
$gray-500: #bebebe;
$gray-600: #6b6b6b;
$gray-700: #4f4f4f;
